<!-- https://www.w3schools.com/html/html_form_input_types.asp -->
<!-- https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap -->


<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <link href="lab6.css" rel="stylesheet" type="text/css">
  </head>

  <body>

	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1 class="text-center">Jay's Survey</h1><br><br>
    <form class="col-lg-7 offset-lg-3">
     <div>
      <h2> What fruits(s) do you like? </h2>
      I like:<br>
      <input type="text" name="fruit" placeholder="fruit name..." required />
      <br>
      <br>
      <h2> What color(s) do you like? </h2>
	    I like:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <br>
      <h2>What is your favorite animal?</h2>
      I like:<br>
      <select name="animal">
			  <option value="Cat" selected="selected">Cat</option>
			  <option value="Dog">Dog</option>
			  <option value="Turtle">Turtle</option>
      </select>
      <br>
      <br>
      <h2> Which city would you like to visit? </h2>
      <label><input type="radio" name = "city" value="SanFrancisco"> San Francisco</label>
      <label><input type="radio" name = "city" value="Toronto"> Toronto</label>
      <label><input type="radio" name = "city" value="LA"> Los Angeles</label>
      <label><input type="radio" name = "city" value="LV"> Los Vegas</label>
      <br>
      <br>
      <h2> Tell us a great memory you've had. </h2>
      <textarea name="story" style="width:400px; height:200px;" placeholder="Explain memory here..."></textarea>
      <br>
      <br>
      <h2> How comfortable were you with the survey? </h2>
      <label for="mood">Comfortability between 1 (terrible) and 5 (amazing):</label>
      <input type="number" id="mood" name="mood" min="1" max="5">
      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </div>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html>
