
*, html{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 1170px;
  margin: auto;
}

body{
  background: #212229;
}

header{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://s3-eu-west-1.amazonaws.com/rb-cms/rbv5/production/uploads/cover_images/66bb1b0fb9f21c4f7d4a01fd2992a1d1a716/i1080x475.jpg");
  height:100vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}



.nav-area{
  float:right;
  list-style: none;
  margin-top: -230px;

}

.nav-area li{
  display:inline-block;
}

.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size:14px;
}

.nav-area li a:hover{
  background: #fff;
  color:#333;
}

.logo{
  position: relative;
  top: 60em;
  left: 25em;

}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 60px;
  letter-spacing: 30px;
}
.button{
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover{
  background: #fff;
  color:#000;
}

.intro{
  color: #fff;
  font-size: 11px;
  transform: translate(22em,1em);
  position: absolute;
  letter-spacing: 2px;
  margin: 0;
}

.secondIntro{
  color: #fff;
  font-size: 11px;
  transform: translate(20em,0em);
  position: absolute;
  letter-spacing: 2px;
}


.header1{
    color: #fff;
    font-size: 12px;
    transform: translate(13em,40em);
    position: absolute;
    letter-spacing: 2px;
    margin; 0;



}
.question1{
  color: #BF6547;
  transform: translate(22em,29em);
  position: absolute;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0;
}


.header2{
  color: #fff;
  font-size: 16px;
  transform: translate(11em,42em);
  position: absolute;
  letter-spacing: 2px;

}

.question2{
  color: #BF6547;
  transform: translate(22em,40em);
  position: absolute;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0;
}

.header3{
  color: #fff;
  font-size: 20px;
  transform: translate(8em,42em);
  position: absolute;
  letter-spacing: 2px;
  margin: 0;
}

.question3{
  color: #BF6547;
  transform: translate(22em,49em);
  position: absolute;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0;
}

.header4{
  color: #fff;
  font-size: 22px;
  transform: translate(9.5em,50em);
  position: absolute;
  letter-spacing: 2px;
  margin: 0;

}

.question4{
  color: #BF6547;
  transform: translate(6em,64em);
  position: relative;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0;
}

.header5{
  color: #fff;
  font-size: 27px;
  transform: translate(8.5em,49em);
  position: absolute;
  letter-spacing: 2px;
  margin: 0;
}

.question5{
  color: #BF6547;
  transform: translate(22em,76em);
  position: absolute;
  letter-spacing: 4px;
  font-size: 18px;
  margin 0;
}

.header6{
  color: #fff;
  font-size: 23px;
  transform: translate(11em,52em);
  position: absolute;
  letter-spacing: 2px;
  margin: 0;
}

.question6{
  color: #BF6547;
  transform: translate(8em,1em);
  position: absolute;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0;
}



.header7{
  color: #BF6547;
  font-size: 27px;
  transform: translate(2em,10em);
  position: absolute;
  letter-spacing: 2px;
  margin 0;
}



.commentBox{
  transform: translate(-13%,0%);
  margin:0;

}

.btn1{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #BF6547;
  text-decoration: none;
  transition: 0.6s ease;
  transform: translate(42%,0%);

}

.btn1:hover{
  background: #BF6547;
  color:#000;
}

.Author{
  color: #fff;
  font-family: Snell Roundhand, cursive;
  transform: translate(3%, 200%);
  margin:0;
